# Rust
target/
Cargo.lock
**/*.rs.bk
*.pdb

# Node / React / Vite
node_modules/
dist/
dist-ssr/
*.local

# Tauri
src-tauri/target/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local
dell-g-series-controller.desktop
